.home-page {
  /* background-color:purple;  */
}

.watt-about {
  color: white;
  background-color: purple;
  width: 1000px;
  padding-left: 10px;
}

.watt {
  text-align: left;
  font-size: 800%;
  line-height: 200%;
  letter-spacing: 0.25vw;
}

.description {
  text-align: left;
  font-size: 400%;
  line-height: 200%;
}

.content {
  align-content: center;
  vertical-align: bottom;
  background-image: url(./placeholder.png);
}

.upload-box > .ant-upload {
  top: 250%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  width: "50vh";
}
