.home-page {
  /* background-color:purple;  */
}

.watt-about {
  color: white;
  background-color: purple;
  width: 1000px;
  padding-left: 10px;
}

.watt {
  text-align: left;
  font-size: 400%;
  line-height: 500%;
}

.description {
  text-align: left;
  font-size: 200%;
  line-height: 200%;
}

.content {
  align-content: center;
  vertical-align: bottom;
  background-image: url(./placeholder.png);
}

.upload-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translateY(-50%, -50%);
  width: "70vh";
}
