.home-page {
    /* background-color:purple;  */
}

.watt-about {
    color: white;
    background-color: purple;
    width: 1000px;
    padding-left: 10px;
}

.watt {
    text-align: left;
    font-size: 400%;
    line-height: 500%;
}

.description {
    font-size: 200%;
    line-height: 200%;
}

.content {
    align-content: center;
    vertical-align: middle;
    background-image: url(./placeholder.png);
}